/*navigation*/

.navigation {
    background-color: #f6c523;
}

nav a.active {
    background-color: #197afd;
    color: aliceblue;
}

.navigation:hover {
    background-color: #197afd;
    text-decoration: none;
    color: aliceblue;
}

.navigation:focus {
    background-color: #197afd;
    color: aliceblue;
}

.nav-list_decor > li:before {
    content: '';
}

/*about us*/

.bg_image {
    background-image: url(https://i.pinimg.com/564x/ba/6c/d4/ba6cd45d22f01b59c1c4605c4e6dabab.jpg);
    min-height: 150px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover

}





/*footer*/

.logo-footer {
    font-size: 25px;
}


.fa-facebook-f,
.fa-linkedin-in,
.fa-twitter,
.fa-glide-g {
    font-size: 30px;
    color: #bebaba;
}

.fa-facebook-f,
.fa-linkedin-in,
.fa-twitter,
.fa-glide-g:hover {
    cursor: pointer;
}










































































@media screen and (min-width: 576px) {

}


@media screen and (min-width: 768px) {

}


@media screen and (min-width: 992px) {
    .our_features_list_position {
        padding-top: 67px;
    }

    .our_features_button_position {
        margin-top: 130px;
    }

    .footer_logo_position {

    }
}


@media screen and (min-width: 1200px) {

}
