/*navigation*/

.navigation {
    background-color: #f6c523;
}

nav a.active {
    background-color: #197afd;
    color: aliceblue;
}

.navigation:hover {
    background-color: #197afd;
    text-decoration: none;
    color: aliceblue;
}

.navigation:focus {
    background-color: #197afd;
    color: aliceblue;
}

.nav-list_decor > li:before {
    content: '';
}

/*caroulel*/

.border-p-n {
    border: 1px solid;
    border-radius: 100px;
    padding: 20px;
    background-size: 15px;
}

ol li.border-indicator {
    border: 3px solid rgb(245, 255, 6);
    max-width: 10px;
    min-height: 10px;
    background-color: rgba(255, 255, 254, 0);
}

ol li.active {
    border-color: #197afd;
}

.carousel-img {
    max-height: 500px
}

/*form-search*/

.form_search {
    background-color: #e4f9ff;
}

.form_text_1 {
    line-height: normal;
    margin-bottom: 20px;
}

.fa-search {
    color: #ffcf07;
}

.form_text_2 {
    font-size: 22px;
}


/*benefits*/

.fa-ioxhost,
.fa-comments,
.fa-laptop,
.fa-lock,
.fa-cog,
.fa-envelope {
    font-size: 40px;
}

/*now*/

.now_bg {
    background-color: rgb(253, 255, 197);
}

.now_text_small {
    font-size: 10px;
}

.now_text_big {
    font-size: 40px;
}

.now_list_decoration {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    line-height: 2
}

ul li::before {
    content: '>';
    margin-right: 15px;
    font-weight: 800;
}

/*our hosting*/


/*sign up your*/

.fa-envelope2 {
    font-size: 20px
}


/*footer*/

.logo-footer {
    font-size: 25px;
}


.fa-facebook-f,
.fa-linkedin-in,
.fa-twitter,
.fa-glide-g {
    font-size: 30px;
    color: #bebaba;
}

.fa-facebook-f,
.fa-linkedin-in,
.fa-twitter,
.fa-glide-g:hover {
    cursor: pointer;
}










































































@media screen and (min-width: 576px) {

}


@media screen and (min-width: 768px) {

}


@media screen and (min-width: 992px) {
    .our_features_list_position {
        padding-top: 67px;
    }

    .our_features_button_position {
        margin-top: 130px;
    }

    .footer_logo_position {

    }
}


@media screen and (min-width: 1200px) {

}
